/*
 * Overrides common/kupustyles.css
 */
 
html, body {
  height: 100%;
}

div.kupu-fulleditor {
  height: 560px;
  margin: 0;
  padding: 0;
}

div.kupu-editorframe {
  border:0;
  padding: 0;
  margin: 0;
}

#kupu-editor, #kupu-editor-textarea {
  height: 550px;
  width: 100%;
  margin: 0;
  padding: 5px 0 5px 0;
  border: 2px dashed gray;
}

#kupu-toolbox-debug {
  display: none;
}

.kupu-exit {
  background-image: url("images/exit.gif");
}